/* Beginning of Bootstrap's row equal height modification */
.row.equal-height {
  display: flex;
  flex-wrap: wrap;
}
.row.equal-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.row.equal-height.row:after,
.row.equal-height.row:before {
  display: flex;
}
.row.equal-height > [class*='col-'] > .thumbnail,
.row.equal-height > [class*='col-'] > .thumbnail > .caption {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
.row.equal-height > [class*='col-'] > .thumbnail > .caption > .flex-text {
  flex-grow: 1;
}
.row.equal-height > [class*='col-'] > .thumbnail > img {
  width: 100%;
  height: 200px;
  -webkit-object-fit: contain;
     -moz-object-fit: contain;
      -ms-object-fit: contain;
       -o-object-fit: contain;
          object-fit: contain;
}
/* End of Bootstrap's row equal height modification */

/* Beginning of noneopacity */
.noneopacity{
  display: none;
  opacity: 0;
}
/* End of noneopacity */

/* Beginning of Bootstrap alert's text-align modification */
.alert{
	text-align: center;
}
/* End of Bootstrap alert's text-align modification */

/* Beginning of dash style div */
.dash{
	background: #ccc;
	border-radius: 15px;
	box-shadow: 5px 5px red;
}
.dash:hover{
	background: #acf;
}
/* End of dash style div */

/* Beginning of min-chart & percent modification */
.min-chart{
	direction: ltr;
}
.percent{
	position: absolute;
	padding-top: 80px;
	padding-left: 80px;
}
/* End of min-chart & percent modification */

/* Beginning of Notify red circle icon */
div.notify-if{
	opacity: 0;
}
.notify div.notify-if{
	opacity: 1;
}
a[notify='yes'],span[notify='yes']{
	color: red;
}
.red-line{
	width: 100%;
	background: red;
	height: 5px;
}
.red-circle{
	width: 15px;
	background: red;
	height: 15px;
	border-radius: 7.5px;
}
.transparent-circle{
	width: 15px;
	background: transparent;
	height: 15px;
	border-radius: 7.5px;
}
.circle-xs{
	width: 10px;
	height: 10px;
	border-radius: 5px;
}
/* End of Notify red circle icon */

/* Beginning of li's mouse hover/out modification */
ul.circle-disc,
ul.circle-disc > li{
  list-style: circle;
}
ul.circle-disc > li:hover{
  list-style: disc;
}
/* End of li's mouse hover/out modification */

/* Beginning of red navbar modification */
.navbar-default.red{
  border-color: #C72500;
  color: #C72500;
  background-color: white;
}
.red .navbar-brand,
.red .navbar-text,
.navbar-default.red .navbar-nav > li > a{
  color: #C7254E;
}
.navbar-default.red .navbar-nav > li > a:hover,
.navbar-default.red .navbar-nav > .active > a,
.navbar-default.red .navbar-nav > .active > a:focus,
.navbar-default.red .navbar-nav > .active > a:hover{
  color: white;
  background-color: #C7254E;
}
/* End of red navbar modification */

/* Beginning of red stacked navbar modification */
.red.nav-stacked .navbar-header{
  float: right;
}
.red.nav-stacked .navbar-brand{
  padding: 15px 0 0 0;
}
.navbar-default.red.nav-stacked .navbar-nav > li > a{
  padding: 0px 0px 5px 10px;
  margin-bottom: 10px;
}
.navbar-default.red.nav-stacked .navbar-nav > li > a:hover,
.navbar-default.red.nav-stacked .navbar-nav > .active > a,
.navbar-default.red.nav-stacked .navbar-nav > .active > a:focus,
.navbar-default.red.nav-stacked .navbar-nav > .active > a:hover{
  background-color: white;
  color: #C7254E;
  border-bottom: #C7254E 3px solid;
}
.navbar-default.red.nav-stacked .navbar-nav > li > a:hover:before,
.navbar-default.red.nav-stacked .navbar-nav > .active > a:before{
  content: ".";
  background-color: #C7254E;
  color: transparent;
  margin-left: 10px;
}
/* End of red stacked navbar modification */


/* Beginning of gold navbar modification */
.navbar-default.gold{
  border-color: #ff9500;
  color: #efa100;
  background-color: white;
}
.gold .navbar-brand,
.gold .navbar-text,
.navbar-default.gold .navbar-nav > li > a{
  color: #ff9500;
}
.navbar-default.gold .navbar-nav > li > a:hover,
.navbar-default.gold .navbar-nav > .active > a,
.navbar-default.gold .navbar-nav > .active > a:focus,
.navbar-default.gold .navbar-nav > .active > a:hover{
  color: white;
  background-color: #ff9500;
}
/* End of gold navbar modification */

/* Beginning of gold stacked navbar modification */
.gold.nav-stacked .navbar-header{
  float: right;
}
.gold.nav-stacked .navbar-brand{
  padding: 15px 0 0 0;
}
.navbar-default.gold.nav-stacked .navbar-nav > li > a{
  padding: 0px 0px 5px 10px;
  margin-bottom: 10px;
}
.navbar-default.gold.nav-stacked .navbar-nav > li > a:hover,
.navbar-default.gold.nav-stacked .navbar-nav > .active > a,
.navbar-default.gold.nav-stacked .navbar-nav > .active > a:focus,
.navbar-default.gold.nav-stacked .navbar-nav > .active > a:hover{
  background-color: white;
  color: #ff9500;
  border-bottom: #ff9500 3px solid;
}
.navbar-default.gold.nav-stacked .navbar-nav > li > a:hover:before,
.navbar-default.gold.nav-stacked .navbar-nav > .active > a:before{
  content: ".";
  background-color: #ff9500;
  color: transparent;
  margin-left: 10px;
}
/* End of gold stacked navbar modification */

/* Beginning of colored links */
.red-link a,
a.red-link{
  color: #c7254e;
}
.gold-link a,
a.gold-link{
  color: #ff9500;
}
/* End of colored links */

/* Beginning of Security style */
.security{
  display: none;
}
/* End of Security style */

/* Beginning of Checkbox style */
.check-container{
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check-container > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark{
  position: absolute;
  top: 5px;
  margin-left: 10px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.check-container:hover > input ~ .checkmark {
  background-color: #ccc;
}
.check-container > input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after{
  content: "";
  position: absolute;
  display: none;
}
.check-container > input:checked ~ .checkmark:after {
  display: block;
}
.check-container > .checkmark:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* End of Checkbox style */